### Quiz 1
- You must show your work (Python code) in the code cells.
- Answer the questions in the Markdown cells.
- You must submit this file to the Quiz1 Drop Box on D2L before 9:50am.

#### Question 1: Write a function such that 
(1) It takes two inputs x (a list) and y(another list)\
(2) It produces the message "The two lists do not have the same length" if the lengths of the two lists are not equal, and produces the message "Success!" otherwise.  (Hint: use the function `len` to get the length of a list and the function does not need to check if the inputs are lists or not).\
(3) Create two lists of the same length, and the third list with a different length.  Use these three lists to check if your function works.

In [2]:
#code here:
def sameLength(a: list, b: list):
    if(len(a) == len(b)):
        print("Success!")
    else:
        print("The two lists do not have the same length")

a = [1, 2, 3, 4, 5]
b = [2, 3, 4, 5, 6]
c = [7, 8, 9]

sameLength(a, b)
sameLength(b, c)

Success!
The two lists do not have the same length

#### Question 2: Consider the `msleep` data set available on <https://raw.githubusercontent.com/tidyverse/ggplot2/main/data-raw/msleep.csv>.

In [2]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/tidyverse/ggplot2/main/data-raw/msleep.csv')

(1) How many rows and variables does the data set contain?  \
**ANS:**

In [18]:
#code here:
print("Num rows:", len(data))
print("Num variables:", len(data.columns))

Num rows: 83
Num variables: 12

(2) Show the last 4 rows of the data set.

In [5]:
# code here:
data.tail(4)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
79,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN,173.33
80,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.0175,2.00
81,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.0445,3.38
82,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.35,14.2,0.0504,4.23

(3)  Add a new column `ratio` to the data set which is the ratio of `sleep_total` over `awake`.\

In [5]:
#code here:
print(data['sleep_total'].isna().any())
print(data['awake'].isna().any())

data["ratio"] = data['sleep_total'] / data["awake"]
data.head()

False
False

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,ratio
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000,1.016807
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,2.428571
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350,1.500000
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,1.637363
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000,0.200000

(4) Construct a sub-data set of the updated data `msleep` in (3)  containing the last eight variables only.  Save this sub data set as `msleep2`.\

In [19]:
#code here:
msleep2 = data.copy()
i = 0
for col in msleep2:
    if(i >= 4):
        break
    i += 1
    msleep2.pop(col)

msleep2.head()

,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt,ratio
0,lc,12.1,NaN,NaN,11.9,NaN,50.000,1.016807
1,NaN,17.0,1.8,NaN,7.0,0.01550,0.480,2.428571
2,nt,14.4,2.4,NaN,9.6,NaN,1.350,1.500000
3,lc,14.9,2.3,0.133333,9.1,0.00029,0.019,1.637363
4,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000,0.200000