# Final Project - Question 2

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
hcv=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00571/hcvdat0.csv', index_col=0)
# treat the 1st column as index
hcv.dropna(inplace=True)

In [3]:
#print(hcv.columns)
print(hcv['Category'].unique())
print(hcv['Sex'].unique())
# if logistic regression to be used, it must be multinomial logistic regression

['0=Blood Donor' '0s=suspect Blood Donor' '1=Hepatitis' '2=Fibrosis'
 '3=Cirrhosis']
['m' 'f']

In [4]:
map_response = {'0=Blood Donor': '0',
'0s=suspect Blood Donor': '1',
'1=Hepatitis': '2',
'2=Fibrosis': '3',
'3=Cirrhosis': '4'}
hcv['response']=hcv['Category'].map(map_response)
hcv['gender']=[1 if x =='m' else 0 for x in hcv['Sex']]
hcv.drop(['Category','Sex'], axis=1, inplace=True)

In [5]:
#from keras.utils import to_categorical
#hcv['response'] = to_categorical(hcv['response'])
hcv.head()

,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,response,gender
1,32,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,0,1
2,32,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,0,1
3,32,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,0,1
4,32,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,0,1
5,32,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,0,1

In [6]:
y=hcv['response']
X=hcv.drop(['response'], axis=1)
X.shape

(589, 12)

In [7]:
seed=100
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=seed, shuffle=True)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
print(X_train.shape)
print(X_test.shape)

(412, 12)
(177, 12)