### Project 1

#### **Question 1**. Write a Python function which returns $x^2$ when $x<0$ and $-|x|$ when $x \geq 0$.

In [ ]:
def squareOrNeg(x):
    return x * x if x < 0 else x * -1

-2
-8
4
0

#### **Question 2**.  Consider the House Rent Prediction Dataset <https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset> which is downloaded already.  Answer the following questions and show your Python code.

- (1) What are the dimensions (number of rows and columns) of the data? \
**Answer**:

In [7]:
import pandas as pd
rent=pd.read_csv("House_Rent_Dataset.csv",sep = ',', header=0)
print(rent.shape)

(4746, 12)

- (2) Show the first 3 rows of the data set.\

In [12]:
rent.head(3)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner

- (3) Obtain the 5-number summary of the variables `BHK`, `Rent`, `Size` and `Bathroom`. \

- (4) Obtain the mean, median, and standard deviation of the variable `Rent`.

- (5) Construct a sub-data set without the two variables `Bathroom` and `Point of Contact`, and save the data as `rent1` .\

- (6) Split the data set into a training data set by the row numbers specified by `train` and test data. Save the two data sets as `rent_train` and `rent_test`, respectively.

In [ ]:
import numpy as np
np.random.seed(1)
n=rent.shape[0]
m=int(n/2) if n%2==0 else int((n+1)/2)
train=np.random.choice(range(n), m, replace=False)