### Project 1

#### **Question 1**. Write a Python function which returns $x^2$ when $x<0$ and $-|x|$ when $x \geq 0$.

In [1]:
def squareOrNeg(x):
    return x * x if x < 0 else x * -1

#### **Question 2**.  Consider the House Rent Prediction Dataset <https://www.kaggle.com/datasets/iamsouravbanerjee/house-rent-prediction-dataset> which is downloaded already.  Answer the following questions and show your Python code.

- (1) What are the dimensions (number of rows and columns) of the data? \
**Answer**:

In [2]:
import pandas as pd
rent=pd.read_csv("House_Rent_Dataset.csv",sep = ',', header=0)
print(rent.shape)

(4746, 12)

- (2) Show the first 3 rows of the data set.\

In [3]:
rent.head(3)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner

- (3) Obtain the 5-number summary of the variables `BHK`, `Rent`, `Size` and `Bathroom`. \

In [4]:
rent.describe()

               BHK          Rent         Size     Bathroom
count  4746.000000  4.746000e+03  4746.000000  4746.000000
mean      2.083860  3.499345e+04   967.490729     1.965866
std       0.832256  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

- (4) Obtain the mean, median, and standard deviation of the variable `Rent`.

In [5]:
print("Mean:", rent["Rent"].mean())
print("Median:", rent["Rent"].median())
print("Standard Deviation:", rent["Rent"].std())

Mean: 34993.45132743363
Median: 16000.0
Standard Deviation: 78106.4129373483

- (5) Construct a sub-data set without the two variables `Bathroom` and `Point of Contact`, and save the data as `rent1` .\

In [6]:
rent1 = rent.copy()
rent1.pop("Bathroom")
rent1.pop("Point of Contact")
rent1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
dtypes: int64(3), object(7)
memory usage: 370.9+ KB

- (6) Split the data set into a training data set by the row numbers specified by `train` and test data. Save the two data sets as `rent_train` and `rent_test`, respectively.

In [9]:
import numpy as np
np.random.seed(1)
n=rent.shape[0]
m=int(n/2) if n%2==0 else int((n+1)/2)
train=np.random.choice(range(n), m, replace=False)

rent_train = rent.iloc[train]
rent_test = rent.iloc[-train]
print(rent_train.head())
print(rent_test.head())
print(rent.head())
# rent_train.info()
# rent_test.info()

       Posted On  BHK   Rent  Size            Floor    Area Type  \
230   2022-06-17    1  18000   700  Ground out of 4   Super Area
4500  2022-05-20    2  10500  1050  Ground out of 3   Super Area
3277  2022-05-20    2  16000   800       1 out of 3   Super Area
4045  2022-07-10    1  13000   750       3 out of 3  Carpet Area
1561  2022-06-07    2   9500   530       1 out of 3  Carpet Area

                Area Locality       City Furnishing Status  Tenant Preferred  \
230   Salt Lake City Sector 3    Kolkata         Furnished  Bachelors/Family
4500             Hastinapuram  Hyderabad       Unfurnished  Bachelors/Family
3277               Adambakkam    Chennai    Semi-Furnished  Bachelors/Family
4045       Hyderaguda-Attapur  Hyderabad    Semi-Furnished            Family
1561          Byatarayanapura  Bangalore    Semi-Furnished  Bachelors/Family

      Bathroom Point of Contact
230          1    Contact Owner
4500         2    Contact Owner
3277         2    Contact Owner
4045         1    Contact Owner
1561         1    Contact Owner
       Posted On  BHK    Rent  Size            Floor    Area Type  \
4516  2022-05-12    2   16000  1650  Ground out of 3   Super Area
246   2022-05-06    2    7000   600       2 out of 2   Super Area
1469  2022-06-14    2   70000   810      4 out of 11  Carpet Area
701   2022-05-23    3  120000  1200     14 out of 18  Carpet Area
3185  2022-06-29    1    7500   600       1 out of 2   Super Area

                             Area Locality       City Furnishing Status  \
4516                                 Kapra  Hyderabad    Semi-Furnished
246                Park Circus, Ballygunge    Kolkata    Semi-Furnished
1469  Vintage Pearl Apartment, Bandra West     Mumbai         Furnished
701     Stellar Tower, Lokhandwala Complex     Mumbai         Furnished
3185    Perungalathur, Chennai Bypass Road    Chennai       Unfurnished

      Tenant Preferred  Bathroom Point of Contact
4516  Bachelors/Family         1    Contact Owner
246   Bachelors/Family         2    Contact Owner
1469  Bachelors/Family         2    Contact Agent
701             Family         3    Contact Agent
3185  Bachelors/Family         1    Contact Owner
    Posted On  BHK   Rent  Size            Floor    Area Type  \
0  2022-05-18    2  10000  1100  Ground out of 2   Super Area
1  2022-05-13    2  20000   800       1 out of 3   Super Area
2  2022-05-16    2  17000  1000       1 out of 3   Super Area
3  2022-07-04    2  10000   800       1 out of 2   Super Area
4  2022-05-09    2   7500   850       1 out of 2  Carpet Area

              Area Locality     City Furnishing Status  Tenant Preferred  \
0                    Bandel  Kolkata       Unfurnished  Bachelors/Family
1  Phool Bagan, Kankurgachi  Kolkata    Semi-Furnished  Bachelors/Family
2   Salt Lake City Sector 2  Kolkata    Semi-Furnished  Bachelors/Family
3               Dumdum Park  Kolkata       Unfurnished  Bachelors/Family
4             South Dum Dum  Kolkata       Unfurnished         Bachelors

   Bathroom Point of Contact
0         2    Contact Owner
1         1    Contact Owner
2         1    Contact Owner
3         1    Contact Owner
4         1    Contact Owner